// Fonts
$-f-red: 'Red Hat Text', sans-serif;

// Colors
$-c-white: hsl(0, 0%, 100%);
$-c-gray-blue: hsl(237, 18%, 59%);
$-c-soft-red: hsl(345, 95%, 68%);
$-c-desat-blue: hsl(236, 21%, 26%);
$-c-dark-blue: hsl(235, 16%, 14%);
$-c-vdark-blue: hsl(234, 17%, 12%);